<div class="content" style="margin:15px">
    <div class="header">
        <h1 class="page-title">{{ env.id==undefined ? "Add Event" : "Edit Event" }}</h1>
    </div>

    <div class="main-content">

        <div class="alert alert-danger" role="alert" ng-show="env.error!=null">{{env.error}}</div>
        <div class="progress" ng-show="env.id!=undefined && env.loading==true">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>


        <div ng-show="env.id==undefined || env.loading==false">
            <form name="eventform">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group" ng-class="{ 'has-error': eventform.hotel_name.$invalid  }">
                            <label class="fg_col1">Title</label>

                            <div class="fg_col2">
                                <input type="text" name="hotel_name" class="form-control"
                                       ng-model="env.model.title">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': eventform.desc.$invalid  }">
                            <label class="fg_col1">Description</label>

                            <div class="fg_col2">
                                <textarea name="desc" class="form-control"
                                          ng-model="env.model.description"></textarea>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{ 'has-error': eventform.image.$invalid  }">
                            <label class="fg_col1">Event Picture</label>
                            <upload
                                    name="image" ng-model="env.model.image"></upload>
                        </div>

                        <div class="form-group">
                            <label>Cost</label>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="minCost"
                                           ng-model="env.model.minCost">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="maxCost"
                                           ng-model="env.model.maxCost">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': eventform.website.$invalid  }">
                            <label class="fg_col1">Event Website</label>

                            <div class="fg_col2">
                                <input type="text" class="form-control" name="website"
                                       ng-model="env.model.website">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': eventform.youtube.$invalid  }">
                            <label class="fg_col1">Youtube Link</label>

                            <div class="fg_col2">
                                <input type="text" class="form-control" name="youtube"

                                       ng-model="env.model.youtube">
                            </div>
                        </div>


                        <div class="form-group" >
                            <label class="fg_col1">Add event time</label>

                            <div ng-repeat="time in env.model.time_Begin track by $index">
                                <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-default" ng-click="removeNewEventTime($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </div>
                                <div class="col-md-5">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-append">
                                                <input type="text" class="form-control"

                                                       value="{{env.model.time_Begin[$index]| date:'yyyy-MM-dd h:mm a'}}"><span class="add-on"><i
                                                    class="icon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="env.model.time_Begin[$index]"
                                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                        </ul>
                                    </div>



                                </div>
                                <div class="col-md-5">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-append">
                                                <input type="text" class="form-control"

                                                       value="{{env.model.time_End[$index]| date:'yyyy-MM-dd h:mm a'}}"><span class="add-on"><i
                                                    class="icon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="env.model.time_End[$index]"
                                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                        </ul>
                                    </div>

                                </div>
                                </div>
                            </div>

                            <div style="margin-top:50px">
                                <button type="button" class="btn btn-default"
                                        ng-click="addNewEventTime()">Add Event Type
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="fg_col1">Categories</label>
                            <div class="fg_col2">
                                <div class="col-md-6">
                                    <ul>
                                        <li ng-repeat="category in env.categories track by $index">
                                            <label>

                                                <input type="checkbox"
                                                       ng-model="env.model.Category[category.id]">
                                                {{category.name}}

                                            </label>
                                            <ul ng-show="env.model.Category[category.id]==true ">
                                                <li ng-repeat="sub in category.sub">
                                                    <label>
                                                        <input type="checkbox"

                                                               ng-model="env.model.SubCategory[sub.id]">
                                                        {{
                                                        sub.name }}
                                                    </label>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3>Venue</h3>
                <hr>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fg_col1">Name</label>
                        <div class="fg_col2">
                            <angucomplete-alt id="ex1"
                                              placeholder="Search countries"
                                              pause="100"
                                              selected-object="selectVenue"
                                              local-data="env.venues"
                                              search-fields="attributes.name"
                                              title-field="attributes.name"
                                              minlength="1"
                                              input-class="form-control"/>

                        </div>
                    </div>


                    <div class="form-group" >
                        <label class="fg_col1">Website</label>

                        <div class="fg_col2">

                            <input type="text" name="hotel_name" class="form-control" 
                                   ng-model="env.model.Venue.attributes.website">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="fg_col1">Venue Picture</label>
                        <upload ng-model="env.model.Venue.attributes.image"></upload>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fg_col1">Location</label>
{{env.model.Venue.address}}
                        <div class="col-md-14">
                            <div class="fg_col2">
                                <input type="text"  class="form-control" placeholder="Address"
                                       ng-model="env.model.Venue.attributes.address">
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-md-4">
                                <input type="text" name="hotel_name" placeholder="City" class="form-control"
                                       ng-model="env.model.Venue.attributes.city">
                            </div>

                            <div class="col-md-4">
                                <input type="text" name="hotel_name" placeholder="State" class="form-control"
                                       ng-model="env.model.Venue.attributes.state">
                            </div>

                            <div class="col-md-4">
                                <input type="text" name="hotel_name" placeholder="Zip" class="form-control"
                                       ng-model="env.model.Venue.attributes.zip">
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-md-4">
                                <input type="text" placeholder="Country" class="form-control"  ng-model="env.model.Venue.attributes.country">
                            </div>

                            <div class="col-md-4">
                                <input type="text" name="hotel_name" placeholder="Phone" class="form-control"
                                       ng-model="env.model.Venue.attributes.phone">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ng-show="env.id!=undefined"
                            ng-click="env.model.eventTypes[env.model.eventTypes.length]={}">Delete
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="save(env.model)">Save
                    </button>
                    <a class="btn btn-default"
                       href="#/events">Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>