<div class="content" style="margin: 10px">
    <div class="header">
        <h1 class="page-title">Events</h1>
    </div>

    <div class="main-content">

        <div class="progress" ng-show="env.loading==true">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>
        <div ng-show="env.loading==false">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline">

                        <div class="form-group col-md-2">
                            <label style="display: block">Title</label>
                            <input  data-ng-model="env.filters.title" type="text" class="form-control" >
                        </div>

                        <div class="form-group col-md-2">
                            <label style="display: block">Venue name</label>
                            <input  data-ng-model="env.filters.venueName" type="text" class="form-control" >
                        </div>

                        <div class="form-group  col-md-2">
                            <label style="display: block">Category</label>
                            <select ng-change="changeFilterCategory()"
                                    ng-options="category.id as category.name for category in env.categories"
                                    data-ng-model="env.filters.Category" type="text" class="form-control" >
                            </select>
                        </div>

                        <div class="form-group  col-md-2">
                            <label style="display: block">Sub Category</label>
                            <select
                                    ng-disabled="env.filters.Category==undefined"
                                    ng-options="category.id as category.name for category in env.subCategories[env.filters.Category]"
                                    data-ng-model="env.filters.SubCategory" type="text" class="form-control" >
                            </select>
                        </div>

                        <div class="form-group  col-md-2">
                            <label style="display: block">Archive</label>
                            <input type="checkbox" ng-model="env.filters.expired">
                        </div>
                        <div class="form-group">
                            <label style="display: block">&nbsp;</label>

                            <button  type="button" class="btn btn-default" ng-click="clearFilters()">Clear</button>
                        </div>

                    </div>
                </div>
            </div>
            <div>



                <table class="table table-striped" at-table at-paginated at-list="env.events"
                       at-config="env.tableConfig">
                    <thead></thead>
                    <tbody>

                    <tr>
                        <td at-title="Image" width="150">

                            <img ng-src="{{ item.attributes.image._url }}" style="width: 150px" alt="">

                        </td>
                        <td at-implicit at-sortable at-attribute="attributes.title" at-title="Title" width="150"></td>
                        <!--<td at-implicit at-sortable at-attribute="attributes.description" at-title="Description" width="250"></td>-->
                        <td  at-title="Categories">
                            <ul>
                                <li ng-repeat="(k,v) in item.attributes.cats">

                                    {{k}}
                                    <ul ng-show="v.length>0">
                                        <li  ng-repeat="sub in v">{{sub}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                        <td  at-title="Event Times" width="350">
                            <ul>
                                <li ng-repeat="time in item.schedule">
                                    <span ng-show="time.end==null">
                                        {{ time.begin }}
                                    </span>
                                    <span ng-show="time.end!=null">
                                        {{ time.begin }} - {{ time.end }}
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td at-implicit at-sortable at-attribute="attributes.createdAt" at-title="Time Created" width="150"
                            at-initial-sorting="desc"></td>
                        <td at-attribute="Action">
                            <div class="btn-group" role="group" aria-label="...">


                                <a class="btn btn-default" ng-href="#/events/{{item.getId()}}" role="button">Modify</a>
                                <button class="btn btn-danger" ng-click="delete(item)">Delete</button>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <at-pagination at-list="env.events" at-config="env.tableConfig"></at-pagination>
                </div>
            </div>
        </div>
    </div>
</div>