<div style="padding:10px">
    <img  ng-show="preview && ngModel._source"  ng-src="data:{{ngModel._source._result[1]}};base64,{{ngModel._source._result[0]}}" style="width: 100px;padding-bottom:10px">
    <img  ng-show="preview && ngModel._url"  ng-src="{{ngModel._url}}" style="width: 100px;padding-bottom:10px">


    <div>
        <input type="file" base-sixty-four-input  ng-model="file" ng-show="!ngModel._source && !ngModel._url" >
        <button class="btn btn-default" type="button" ng-click="ngModel=null" ng-show="ngModel._source || ngModel._url">Remove</button>

    </div>
</div>