<div class="content" style="margin: 10px">
    <div class="header">
        <h1 class="page-title">Categories</h1>
    </div>

    <div class="main-content">

        <div class="progress" ng-show="env.loading==true">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>
        <div ng-show="env.loading==false">
            <div>
                <ul>
                    <li ng-repeat="(category,sub) in env.categories">
                        {{category}}
                        <ul ng-show="sub.length>0">
                            <li ng-repeat="sub_cat in sub">{{sub_cat}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>