<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header" ng-show="user==null">
        <a href="/"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> QwikFun</span></a></div>
    <div class="navbar-collapse collapse" style="height: 1px;">

    </div>



    <div class="navbar navbar-default" role="navigation"  ng-show="user!=null">
        <div class="navbar-header">
            <a  href="/#/"><span class="navbar-brand"><span class="fa fa-sun-o"></span> QwikFun Backend</span></a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/categories"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Categories</a>
                </li>
                <li>
                    <a href="#/events"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Events</a>
                </li>
                <li>
                    <a href="#/events/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Event</a>
                </li>
                <li class="dropdown hidden-xs">
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> {{ user.get('username') }} <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="/#/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</div>
