<div class="dialog">
    <div class="panel panel-default">
        <div class="progress" ng-show="env.loading==true">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>


        <p class="panel-heading no-collapse">Sign In</p>
        <div class="panel-body">
            <div class="alert alert-danger" role="alert" ng-show="env.error">{{ env.error }}</div>
            <form name="login" >
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control span12" name="username" ng-model="username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-controlspan12 form-control" name="password"  ng-model="password" required>
                </div>
                <button class="btn btn-default"  ng-disabled="login.$invalid==true || env.sending==true" type="button" ng-click="actions.login(username,password)">Sign In</button>

                <!--<label class="remember-me"><input type="checkbox"> Remember me</label>-->
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <!--<p><a href="reset-password.html">Forgot your password?</a></p>-->
</div>